<div class="logo">
    {% load static %}
    <img src="{% static 'img/logo.png' %}">
</div>
<div class="navbar">
    <div class="menu">
        <a href="/" class="menu-item">
            <div class="menu-title">Home</div>
            <div class="menu-bar"></div>
        </a>
        <a href="about" class="menu-item">
            <div class="menu-title">About</div>
            <div class="menu-bar"></div>
        </a>
        <a href="scanner" class="menu-item">
            <div class="menu-title">Scan Traffic</div>
            <div class="menu-bar"></div>
        </a>
        <a href="contact" class="menu-item">
            <div class="menu-title">Contact</div>
            <div class="menu-bar"></div>
        </a>
    </div>
</div>