<!DOCTYPE html>
<html>
    <head>
        <title>S@fe</title>
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/pages.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link type="image/icon" rel="icon" href="{% static 'img/logo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include '_navbar.html' %}
        
        <p>ABOUT</p>
        
        {% include '_footer.html' %}
    </body>
</html>