<!DOCTYPE html>
<html>
    <head>
        <title>S@fe</title>
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link type="image/icon" rel="icon" href="{% static 'img/logo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include '_navbar.html' %}
        <p>SCANNER</p>
        <div class="mom-container">
            <div class="kid-container" id="video-container">
                <video id="webcam-video" autoplay muted></video>
                <select id="webcam-select" onchange="changeWebcamDevice()"></select>
            </div>
            <div class="kid-container" id="traffic-info-container">
                <img id="traffic-info-img" src="./img/test.jpg" alt="Traffic sign info">
                <div></div>
            </div>
        </div>
        <div class="mom-container">
            <input type="file" value="UPLOAD" />
            <button id="enable-webcam-btn">WEBCAM</button>
            <button>PRE</button>
            <button>START/PAUSE</button>
            <button>POST</button>
        </div>
        {% include '_footer.html' %}
        <script type="text/javascript" src="{% static 'js/scanner.js' %}"></script>
    </body>
</html>